<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Survey Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body class="p-3 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">

        <div class="shadow-lg bg-light text-dark rounded mt-3 p-3">
          <form id="form">
            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">Your Name:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="location" class="col-sm-3 col-form-label">Dojo Location:</label>
              <div class="col-sm-9">
                <select id="location" name="location" size="1" class="custom-select">
                  <option value="San Jose">San Jose</option>
                  <option value="Seattle">Seattle</option>
                  <option value="Los Angeles">Los Angeles</option>
                  <option value="Dallas">Dallas</option>
                  <option value="Tysons Corner">Tysons Corner</option>
                  <option value="Chicago" selected>Chicago</option>
                  <option value="Tulsa">Tulsa</option>
                  <option value="Berkeley">Berkeley</option>
                  <option value="Boise">Boise</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="language" class="col-sm-3 col-form-label">Favorite Language:</label>
              <div class="col-sm-9">
                <select id="language" name="language" size="1" class="custom-select">
                  <option value="HTML">HTML</option>
                  <option value="CSS">CSS</option>
                  <option value="JavaScript">JavaScript</option>
                  <option value="Python">Python</option>
                  <option value="PHP">PHP</option>
                  <option value="Ruby">Ruby</option>
                  <option value="CSharp" selected>C#</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="comment">Comment (Optional):</label>
              <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
            <div class="p-3 mb-3 bg-dark rounded text-light" id="result">Server Response: </div>
            <div class="form-group text-right">
              <button id="spider" type="submit" class="btn btn-primary btn-block spider">Submit</button>
            </div>
          </form>
        </div>

      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <script type="text/javascript">
    var socket = io();

      $('#form').submit(function (e) {
        e.preventDefault();
        var name = $('#name').val();
        var location = $('#location').val();
        var language = $('#language').val();
        var comment = $('#comment').val();
        socket.emit('formData', { name: name, location: location, language: language, comment: comment });
      });

    socket.on('response', function (response) {
      console.log(response);
      $('#result').append(`Name: ${response.name}, Location: ${response.location}, Favorite Language: ${response.language}, Comment: ${response.comment}, Lucky Number: ${response.lucky}`);
    });
  </script>c
</body>

</html>